:root{
    --red: rgb(9, 83, 255);
    --white: #383232;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body{
    background-color: var(--white);
}


a{
    text-decoration: none;
    color: white;
    
  }
  
  [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }
      
      header{
        width: 100vw;
        height: 40px;
        position: fixed;
        top: 0;
        background-color: var(--white);
        border-bottom: 1px solid var(--red);
        z-index: 1;
      }
      
      nav{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        color:white;
      }

      #nav {
        color: white;

      }

       #cd-section{
        background-color: var(--red);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--white);
      }
   

      #trash_icon{
        max-width: 13%;
        max-height: 13%;
        cursor: move;
        z-index: 10;
        top: 550px;
        left: 1250px;
        position: absolute;
      }
      
      #cd_icon1{
        max-width: 15%;
        max-height: 15%;
        cursor: move;
        z-index: 10;
        top: 525px;
        left: 350px;
        position: absolute;
      }

      #cd_icon2{
        max-width: 15%;
        max-height: 15%;
        cursor: move;
        z-index: 10;
        top: 525px;
        left: 200px;
        position: absolute;
      }

      #cd_icon3{
        max-width: 15%;
        max-height: 15%;
        cursor: move;
        z-index: 10;
        top: 525px;
        left: 50px;
        position: absolute;
      }

      #bf_icon{
        max-width: 15%;
        max-height: 15%;
        cursor: move;
        z-index: 10;
        top: 300px;
        left: 1250px;
        position: absolute;
      }

      #rf_icon{
        max-width: 15%;
        max-height: 15%;
        cursor: move;
        z-index: 10;
        top: 150px;
        left: 1250px;
        position: absolute;
      }

      #pf_icon{
        max-width: 15%;
        max-height: 15%;
        cursor: move;
        z-index: 10;
        top: 50px;
        left: 1250px;
        position: absolute;
      }

      #resume_icon{
        max-width: 15%;
        max-height: 15%;
        cursor: move;
        z-index: 10;
        top: 250px;
        left: 650px;
        position: absolute;
      }



    
